openapi: 3.1.0
info:
  title: Runpod REST API
  description: |
    Runpod REST API for managing GPU pods, serverless endpoints, templates,
    network volumes, container registry credentials, and billing data.
  version: "1.0.0"
  contact:
    name: Runpod API Reference
    url: https://docs.runpod.io/api-reference/overview
servers:
  - url: https://rest.runpod.io/v1
    description: Runpod REST API production
security:
  - bearerAuth: []
paths:
  /openapi.json:
    get:
      summary: Retrieve the OpenAPI specification
      operationId: getOpenAPISpec
      responses:
        "200":
          description: OpenAPI document
  /docs:
    get:
      summary: Retrieve the interactive API documentation
      operationId: getDocs
      responses:
        "200":
          description: HTML documentation
  /pods:
    get:
      summary: List pods
      operationId: listPods
      responses:
        "200":
          description: List of pods
    post:
      summary: Create a pod
      operationId: createPod
      responses:
        "201":
          description: Pod created
  /pods/{podId}:
    parameters:
      - in: path
        name: podId
        required: true
        schema:
          type: string
    get:
      summary: Get a pod
      operationId: getPod
      responses:
        "200":
          description: Pod details
    patch:
      summary: Update a pod
      operationId: patchPod
      responses:
        "200":
          description: Pod updated
    delete:
      summary: Delete a pod
      operationId: deletePod
      responses:
        "204":
          description: Pod deleted
  /pods/{podId}/update:
    post:
      summary: Apply a pod update
      operationId: updatePod
      parameters:
        - in: path
          name: podId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pod updated
  /pods/{podId}/start:
    post:
      summary: Start a pod
      operationId: startPod
      parameters:
        - in: path
          name: podId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pod started
  /pods/{podId}/stop:
    post:
      summary: Stop a pod
      operationId: stopPod
      parameters:
        - in: path
          name: podId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pod stopped
  /pods/{podId}/reset:
    post:
      summary: Reset a pod
      operationId: resetPod
      parameters:
        - in: path
          name: podId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pod reset
  /pods/{podId}/restart:
    post:
      summary: Restart a pod
      operationId: restartPod
      parameters:
        - in: path
          name: podId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pod restarted
  /endpoints:
    get:
      summary: List serverless endpoints
      operationId: listEndpoints
      responses:
        "200":
          description: List of endpoints
    post:
      summary: Create a serverless endpoint
      operationId: createEndpoint
      responses:
        "201":
          description: Endpoint created
  /endpoints/{endpointId}:
    parameters:
      - in: path
        name: endpointId
        required: true
        schema:
          type: string
    get:
      summary: Get a serverless endpoint
      operationId: getEndpoint
      responses:
        "200":
          description: Endpoint details
    patch:
      summary: Update a serverless endpoint
      operationId: patchEndpoint
      responses:
        "200":
          description: Endpoint updated
    delete:
      summary: Delete a serverless endpoint
      operationId: deleteEndpoint
      responses:
        "204":
          description: Endpoint deleted
  /endpoints/{endpointId}/update:
    post:
      summary: Apply an endpoint update
      operationId: updateEndpoint
      parameters:
        - in: path
          name: endpointId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Endpoint updated
  /templates:
    get:
      summary: List templates
      operationId: listTemplates
      responses:
        "200":
          description: List of templates
    post:
      summary: Create a template
      operationId: createTemplate
      responses:
        "201":
          description: Template created
  /templates/{templateId}:
    parameters:
      - in: path
        name: templateId
        required: true
        schema:
          type: string
    get:
      summary: Get a template
      operationId: getTemplate
      responses:
        "200":
          description: Template details
    patch:
      summary: Update a template
      operationId: patchTemplate
      responses:
        "200":
          description: Template updated
    delete:
      summary: Delete a template
      operationId: deleteTemplate
      responses:
        "204":
          description: Template deleted
  /templates/{templateId}/update:
    post:
      summary: Apply a template update
      operationId: updateTemplate
      parameters:
        - in: path
          name: templateId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Template updated
  /networkvolumes:
    get:
      summary: List network volumes
      operationId: listNetworkVolumes
      responses:
        "200":
          description: List of network volumes
    post:
      summary: Create a network volume
      operationId: createNetworkVolume
      responses:
        "201":
          description: Volume created
  /networkvolumes/{networkVolumeId}:
    parameters:
      - in: path
        name: networkVolumeId
        required: true
        schema:
          type: string
    get:
      summary: Get a network volume
      operationId: getNetworkVolume
      responses:
        "200":
          description: Network volume details
    patch:
      summary: Update a network volume
      operationId: patchNetworkVolume
      responses:
        "200":
          description: Volume updated
    delete:
      summary: Delete a network volume
      operationId: deleteNetworkVolume
      responses:
        "204":
          description: Volume deleted
  /networkvolumes/{networkVolumeId}/update:
    post:
      summary: Apply a network volume update
      operationId: updateNetworkVolume
      parameters:
        - in: path
          name: networkVolumeId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Volume updated
  /containerregistryauth:
    get:
      summary: List container registry auth entries
      operationId: listContainerRegistryAuth
      responses:
        "200":
          description: List of credentials
    post:
      summary: Create container registry auth entry
      operationId: createContainerRegistryAuth
      responses:
        "201":
          description: Credential created
  /containerregistryauth/{containerRegistryAuthId}:
    parameters:
      - in: path
        name: containerRegistryAuthId
        required: true
        schema:
          type: string
    get:
      summary: Get a container registry auth entry
      operationId: getContainerRegistryAuth
      responses:
        "200":
          description: Credential details
    delete:
      summary: Delete a container registry auth entry
      operationId: deleteContainerRegistryAuth
      responses:
        "204":
          description: Credential deleted
  /billing/pods:
    get:
      summary: Retrieve billing data for pods
      operationId: getBillingPods
      responses:
        "200":
          description: Pod billing data
  /billing/endpoints:
    get:
      summary: Retrieve billing data for serverless endpoints
      operationId: getBillingEndpoints
      responses:
        "200":
          description: Endpoint billing data
  /billing/networkvolumes:
    get:
      summary: Retrieve billing data for network volumes
      operationId: getBillingNetworkVolumes
      responses:
        "200":
          description: Network volume billing data
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Runpod API key supplied as a bearer token.
