openapi: 3.1.0
info:
  title: Runpod REST Billing Containerregistryauth API
  description: 'Runpod REST API for managing GPU pods, serverless endpoints, templates,

    network volumes, container registry credentials, and billing data.

    '
  version: 1.0.0
  contact:
    name: Runpod API Reference
    url: https://docs.runpod.io/api-reference/overview
servers:
- url: https://rest.runpod.io/v1
  description: Runpod REST API production
security:
- bearerAuth: []
tags:
- name: Containerregistryauth
paths:
  /containerregistryauth:
    get:
      summary: List container registry auth entries
      operationId: listContainerRegistryAuth
      responses:
        '200':
          description: List of credentials
      tags:
      - Containerregistryauth
    post:
      summary: Create container registry auth entry
      operationId: createContainerRegistryAuth
      responses:
        '201':
          description: Credential created
      tags:
      - Containerregistryauth
  /containerregistryauth/{containerRegistryAuthId}:
    parameters:
    - in: path
      name: containerRegistryAuthId
      required: true
      schema:
        type: string
    get:
      summary: Get a container registry auth entry
      operationId: getContainerRegistryAuth
      responses:
        '200':
          description: Credential details
      tags:
      - Containerregistryauth
    delete:
      summary: Delete a container registry auth entry
      operationId: deleteContainerRegistryAuth
      responses:
        '204':
          description: Credential deleted
      tags:
      - Containerregistryauth
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Runpod API key supplied as a bearer token.
