openapi: 3.1.0
info:
  title: Runpod REST Billing Networkvolumes API
  description: 'Runpod REST API for managing GPU pods, serverless endpoints, templates,

    network volumes, container registry credentials, and billing data.

    '
  version: 1.0.0
  contact:
    name: Runpod API Reference
    url: https://docs.runpod.io/api-reference/overview
servers:
- url: https://rest.runpod.io/v1
  description: Runpod REST API production
security:
- bearerAuth: []
tags:
- name: Networkvolumes
paths:
  /networkvolumes:
    get:
      summary: List network volumes
      operationId: listNetworkVolumes
      responses:
        '200':
          description: List of network volumes
      tags:
      - Networkvolumes
    post:
      summary: Create a network volume
      operationId: createNetworkVolume
      responses:
        '201':
          description: Volume created
      tags:
      - Networkvolumes
  /networkvolumes/{networkVolumeId}:
    parameters:
    - in: path
      name: networkVolumeId
      required: true
      schema:
        type: string
    get:
      summary: Get a network volume
      operationId: getNetworkVolume
      responses:
        '200':
          description: Network volume details
      tags:
      - Networkvolumes
    patch:
      summary: Update a network volume
      operationId: patchNetworkVolume
      responses:
        '200':
          description: Volume updated
      tags:
      - Networkvolumes
    delete:
      summary: Delete a network volume
      operationId: deleteNetworkVolume
      responses:
        '204':
          description: Volume deleted
      tags:
      - Networkvolumes
  /networkvolumes/{networkVolumeId}/update:
    post:
      summary: Apply a network volume update
      operationId: updateNetworkVolume
      parameters:
      - in: path
        name: networkVolumeId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Volume updated
      tags:
      - Networkvolumes
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Runpod API key supplied as a bearer token.
